/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scaffold */
html {
  font-family: Fredoka;
}

header {
  width: 100%;
  min-height: 100px;
  text-align: center;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

/* header */
#title {
  padding-top: 30px;
  color: rgb(238, 82, 133);
}

/* text */
.main-text {
  text-align: center;
}
