/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scaffold */
html {
  font-family: Fredoka;
}

header {
  width: 100%;
  min-height: 100px;
  text-align: center;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

/* header */
#title {
  padding-top: 30px;
  color: rgb(238, 82, 133);
}

/* text */
.main-text {
  text-align: center;
}

/* card */
.cards {
  float: left;
  background-color: black;
  height: 100px;
  width: calc((100% - 60px) / 3);
  margin-top: 50px;
  color: white;
  box-shadow: 1px 1px 10px black;
}

.m-r {
  margin-right: 30px;
}

address {
  color: rgb(119, 184, 229);
}

.cards img {
  height: 100%;
  margin-right: 10px;
  float: left;
}

.data-team {
    line-height: 1.7em;
    padding: 10px;
}
